langchain
langchain-classic
langchain-core
langchain-groq
langchain-text-splitters
faiss-cpu
tiktoken
langchain-community
langchain-openai
langchain-tavily
chromadb
sentence-transformers
pypdf
pymupdf
python-dotenv
pandas
python-docx
docx2txt
unstructured
openpyxl
msoffcrypto-tool
jq
matplotlib
rank_bm25
langchain-huggingface
ipython
arxiv==1.4.7
wikipedia
requests
streamlit
wikipedia